# http://www.thegeekstuff.com/2010/02/mysql_ps1-6-examples-to-make-your-mysql-prompt-like-angelina-jolie/
[mysql]
auto-vertical-output=true
compress=true
prompt='\w:\R\m \u@\h:\d '
pager=grcat ~/.grcat
