[mysql]
auto-vertical-output=true
compress=true
pager=less -msr
prompt='\w:\R\m \u@\h:\d '
tee=/tmp/mysqlTee.log
[mysqlslap]
auto-generate-sql=true
auto-generate-sql-execute-number=10
auto-generate-sql-unique-query-number=10
compress=true
debug-check=true
iterations=100

