[mysql]
	auto-vertical-output=TRUE
	compress=TRUE
	pager=less -msr
	prompt='\w:\R\m \u@\h:\d '
	tee=/tmp/mysqlTee.log
[mysqld]
	innodb_autoinc_lock_mode=2
	innodb_buffer_pool_instances=2
	innodb_buffer_pool_size=2GB
	innodb_io_capacity=100
	innodb_old_blocks_time=1000
	innodb_support_xa=FALSE
	max_seeks_for_key=1000
	query_cache_size=32M
	query_cache_type=ON
[mysqlslap]
	auto-generate-sql=TRUE
	auto-generate-sql-execute-number=10
	auto-generate-sql-unique-query-number=10
	compress=TRUE
	debug-check=TRUE
	iterations=100

